body {
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    color:white;
/*    color: #c9c9f1; */
    background-color: #0d0d23;
    font-family: Fira Sans, Arial, sans-serif;
    /*font-weight: medium; */
    color:#444
}

h1, h2, h3, h4, h5, h6 {
      font-family: Fira Sans, Arial, sans-serif;
      font-weight: medium;
      line-height:1.5;

}

p {
	  font-size: 18px;
}

li {
	  font-size: 18px;
}

div.buttonline {
  text-align: left;
  line-height: 54px;
}

a {
  text-decoration: none;
}

/* @import url(//fonts.googleapis.com/css?family=Fira+Sans); */

a:link { text-decoration: none; color: #58a6ff; }

a:visited { text-decoration: none; color: #58a6ff; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

button.fancy {
  appearance: none;
  border: none;
  border-radius: 10px;
  padding: 2px 20px 5px 10px;
  width: 128px;
  
  cursor: pointer;
  
  color: #fff;
  
  text-align: left;
  
  font-weight: 600;
  line-height: 20px;

  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

span.sitesmall {
  font-family: 'Fira Sans', sans-serif;
  font-weight: medium;
  font-size: 12px;
  opacity: 0.5;
}

span.sitelarge {
  font-family: 'Fira Sans', sans-serif;
  font-weight: medium;
  font-size: 18px;
  opacity: 0.75;
}

p.fira {
  font-family: 'Fira Sans', sans-serif;
  font-weight: medium;
}

h.fira {
  font-family: 'Fira Sans', sans-serif;
  font-weight: medium;
}
